/* styles.css */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
  }
  
  .product-card img {
    width: 50%;
    margin: 0 auto;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-card h3 {
    margin: 0;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    text-align: center;
  }
  
  .product-card p {
    margin: 5px 0;
  }
  
  .product-card p:first-child {
    font-weight: bold;
  }
  .product-card button{
    text-align: center;
    width: 150px;
    color: rgb(254, 254, 254);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(34, 34, 93);
    margin-top: 10px;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  .headerTab{
   
   
        display: flex;
        justify-content: space-between;
        margin: 32px 5px;
      
  }
  .headerTab h1{
    font-size: 32px;
    font-weight: bold;
    justify-content: space-around;
  }
  .headerTab input{
    border: 2px solid #0b0d28;
    padding: 5px;
    border-radius: 5px;
  }
  .headerTabSec{
    display: flex;
    justify-content: space-around;
  }
  .syncButton{
    margin-left: 45px;
    border: 2px solid #0b0d28;
    padding: 5px;
    border-radius: 5px;
    background-color: #060709;
    color: aliceblue;
  }
  